body {
    text-align: center;
    margin: 0;
    padding-top:0px;
}
h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    font-family: monospace;
}
.menu{
   list-style:none;
    font-family:inherit;
    position:fixed;
    top:0px;
    right:0px;
    z-index:10;
    cursor:pointer;
    background:white;
    width:100%;
    margin-top: 0px;
    padding-left:200px;
    vertical-align: middle;
}
.links{
float:left;
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:33px;
    padding-right:25px;
    font-family:monospace;
    font-size:20px;
    display:inline;
}
.link:hover{
    background-color:cyan;
}
html{
    scroll-behavior:smooth;
}
a{
    text-decoration:none;
}
.article:hover{
    color:fuchsia;
}
#writings a{
text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
}  
#contact{
    background-color: white;
}
#contact iframe{
    width:100%;
}
.contact1 h5{
    display: inline;
}
.contact1 a{
    color: floralwhite;
    text-shadow:none;
}
#Zam{
align-content: center;
    margin-left:250px;
}
.row::after{
    content: "";
    clear:both;
    display:table;
}
.travel_mainDiv{
float: left;
    width:33.33%;
    padding:5px;
    border:1px solid #c7c7c7;
}
.travel_mainDiv img{
    width:100%;
    height:300%;
}
.travel_mainDiv hr{
  width:100%;  
}
.travel_mainDiv h5 , .travel_mainDiv p{
margin-left: 20px;
}
#achievementsID{
    padding-bottom: 10px;
}
.movie_head{
font-size:20px;
    padding:6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width:100%;
    display:inline-block;
}
.movie_head i{
float: right;
}
.movie_text div{
color:#ff7700;
}
#Bal{
    width:400px;
    height:500px;
}
#Thack{
    width:350px;
    height:500px;
}
#Sar{
    width:400px;
    height:400px;
}
#Muk{
    width:400px;
    height:400px;
}